* {
  font-family: 'Roboto Slab', serif;
}

/* HOME */
.main-body{
  border: 2px solid black;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 5rem;
  padding: 2rem;
  text-align: center;
  background-color: #fffef1;
  height: 75vh;
}
.home-pic{
  width: 300px;
}

/* HEADER */
a{
  color: #FF0080 !important;
}
.jumbotron.jumbotron-fluid{
  background-color: #EBE0D0 !important;
  color: #FF0080 !important;
  padding: 0px;
  text-decoration: none !important;
}
.container-fluid{
  display: flex;
  justify-content: space-between;
}
.cat-logo{
  width: 180px;
}
.navbar.navbar-light.bg-faded {
  text-align: right;
  flex-direction: row-reverse;
}

/* SHOW */
.show-body{
  display: flex;
  text-align: center;
  margin: 0 auto;
}

/* FOOTER */
footer{
  font-size: 20px;
  margin-top: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav{
  background-color: #fffef1;
}
